* {
  font-family:  "Noto Sans JP", "Times New Roman";
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
}

.center {
  margin: 0 auto;
  text-align: center;
  align-content: center;
  vertical-align: middle;
}

.right {
  margin: 0 auto;
  text-align: right;
  align-content: center;
  vertical-align: middle;
  padding-right: 25px;
}

.left {
  margin: 0 auto;
  text-align: left;
  align-content: center;
  vertical-align: middle;
  padding-left: 25px;
}

body {
  margin: 0;
  width: 100vw;
  height: auto;
  overflow-x: auto;
  overflow-y: auto;
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

