header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eb8f79;
  height: 78px;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  position: absolute;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding: 0 10px;
}

nav a,
nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 20px;
}

.nav_background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
}

.nav_social ul li {
  padding: 0 10px;
}

#kobayashi-typing {
  pointer-events: none;
  width: 150px;
}

.social_media_icons {
  width: 50px;
}
