header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eb8f79;
  height: 78px;
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.nav_background {
  margin: 0 auto;
}

#kobayashi-typing {
  pointer-events: none;
  width: 150px;
}

nav a {
  margin-inline: 10px;
}

.social_media_icons {
  width: 50px;
  height: auto;
}
