* {
  font-family:  "Noto Sans JP", "Times New Roman";
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 18px;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-weight: 600;
  font-size: 32px;
}

header {
  display: flex;
  align-items: center;
  color: white;
  background-color: #eb8f79;
  height: 83px;
}

.nav_background {
  flex: 1;
  display: flex;
  justify-content: center;

}

nav a {
  margin-inline: 10px;
}

.nav-icons {
 display: flex;
 align-items: center;
}

.social_media_icons {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.center {
  margin: auto;
  text-align: center;
  align-content: center;
  vertical-align: middle;
}

.right {
  margin: 0 auto;
  text-align: right;
  align-content: center;
  vertical-align: middle;
  padding-right: 25px;
}

.left {
  margin: 0 auto;
  text-align: left;
  align-content: center;
  vertical-align: middle;
  padding-left: 25px;
}

#kobayashi-typing {
  pointer-events: none;
  float: inline-start;
  width: 150px;
}